@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-100 dark:bg-[#0B1120] text-slate-800 dark:text-slate-200;
    background-image:
      radial-gradient(circle at 1px 1px, #E2E8F0 1px, transparent 0);
    background-size: 1.5rem 1.5rem;
  }

  .dark body {
     background-image:
      radial-gradient(circle at 1px 1px, #1e293b 1px, transparent 0);
  }

  @keyframes fade-in {
    '0%': { opacity: '0' };
    '100%': { opacity: '1' };
  }

  .animate-fade-in {
    animation: fade-in 0.5s ease-out forwards;
  }
}
